<div class="alert alert-success" *ngIf="status == cadOk">
    Se ha logueado correctamente
</div>
<div class="alert alert-danger" *ngIf="status == cadError">
    Se ha presentado un error al hacer login
</div>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form #loginForm="ngForm" (ngSubmit)='onSubmit(loginForm);'>
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label text-md-right">Email</label>
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required autofocus>
                                <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
                                    <strong>Se requiere el email</strong>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                            <div class="col-md-6">
                                <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required>
                                <div class="alert alert-danger" *ngIf="!password.valid && password.touched">
                                    <strong>Se requiere el password</strong>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-12 ">
                                <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.form.valid">Ingresar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>